.scheme {
    min-height: 454px;
    background-color: #f3f3f3;
    padding: 51px 0 46px 0;
    &__itemstop {
        margin-top: 29px;
        display: flex;
        justify-content: space-between;
    }
    &__itemsbottom {
        margin-top: 26px;
        display: flex;
        justify-content: center;
    }
    &__item {
        margin: 0 18px;
        width: 22%;
        min-height: 150px;
        text-align: center;
    }
    &__subtitle {
        margin-top: 10px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: $main-color;
    }
    &__text {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
    }
}