/* Слайдер */
.slick-slider{
    margin: 31px auto 0 auto;
}
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    margin-top: 31px;
    display: flex;
}
/* Слайд */
.slick-slide{
    transform: scale(.75);
    opacity: .2;
}
/* Слайд по центру */
.slick-slide.slick-center{
    transform: scale(1);
    opacity: 1;
    transition: all 2s;

}
/* Клонированный слайд */

.slick-arrow{
    font-size: 0;
    width: 14px;
    height: 46px;
    left: 100px;
    border: none;
    &:focus {
        outline: none;
    }
}

/* Стрелка влево */
.slick-arrow.slick-prev{
    background: url('../icons/review/arrowleft.png') no-repeat;
    position: absolute;
    left: calc(50% - 107px);
    top: 65px;
    z-index: 1000;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    background: url('../icons/review/arrowright.png') no-repeat;
    position: absolute;
    left: calc(50% + 93px);
    top: 65px;
}

